<html>
  <head>
    <title>Tabla de Ofertas</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
  </head>
  <body>
    <table id="ofertas-table" class="display">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Entidad</th>
          <th>Resolución</th>
          <th>HTML</th>
        </tr>
      </thead>
      <tbody>
        {% for data in datos %}
          <tr>
            <td>{{ data.Fecha }}</td>
            <td>{{ data.Entidad }}</td>
            <td>{{ data.Resolucion }}</td>
            <td>{{ data.HTML }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
  <script>
    $(document).ready(function() {
      $('#ofertas-table').DataTable();
    });
  </script>
</html>